@model IEnumerable<BookStoreProject.UI.UseCases.Models.BookDto>;

@{
    ViewData["Title"] = "Home Page";
}

<h1>Książki</h1>

<div>
    <table class="table">
        <thead class="tab-pane">
        <tr>
            <th></th>
            <th>
                <a class="btn btn-outline-success float-right" asp-action="Add">Dodaj nowy</a>
            </th>
        </tr>
        </thead>

        <tbody class="tab-content">
        <div class="row align-items-center">
            @for (var i = 0; i < Model.Count(); i++)
            {
                @if (i > 0 && i % 10 == 0)
                {
                    @:</div><div class="row"></div>
                }
                <div class="col-xs-6">
                    @if (Model.ElementAt(i).ImageName is not null)
                    {
                        <a class="text-warning btn-link btn" asp-action="Index" asp-controller="Book" asp-route-id="@Model.ElementAt(i).BookId"><img src="Images/@Model.ElementAt(i).ImageName" width="150px"/></a>
                    }
                    else
                    {
                        <a class="text-warning btn-link btn" asp-action="Index" asp-controller="Book" asp-route-id="@Model.ElementAt(i).BookId"><div style="width: 150px">@Model.ElementAt(i).Title</div></a>
                    }
                </div>
            }
        </div>
        </tbody>
    </table>
</div>